<div class="container border mt-5">
    <div class="row">
        <div class="col-8">
            <form #productoForm="ngForm" (ngSubmit)="onSubmit(productoForm)">
                <h1>Agregar Producto</h1>
                <div class="row">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" class="form-control" type="text" #nombre="ngModel" name="nombre"
                    [(ngModel)]="producto.nombre" required>
                </div>
                <div class="form-group" class="col-4">
                <label for="categoria">Categoria</label>
                <select name="" class="form-control" id="categoria" #IdCat="ngModel" name="IdCat"
                [(ngModel)]="producto.IdCat" required>
                    <option value="">seleccionar</option>
                    <option *ngFor="let Cat of categorias" value="{{Cat._id}}">{{Cat.name}}</option>
                </select>
            </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="form-group col-8">
                        <label for="fecha">Fecha de vencimiento</label>
                        <input type="date" class="form-control" name="" id="fecha" #vencimiento="ngModel" name="vencimiento"
                        [(ngModel)]="producto.vencimiento" required>
                    </div>
                    <div class="form-group col-2">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" name="" id="number" #cantidad="ngModel" name="cantidad"
                        [(ngModel)]="producto.cantidad" required>
                    </div>
                    <div class="form-group col-2">
                        <label for="precio">Precio</label>
                        <input type="number" class="form-control" name="" id="precio" #precio="ngModel" name="precio"
                        [(ngModel)]="producto.precio" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                <input type="submit" class="btn btn-primary col-3 mt-3 mb-3 " value="Guardar">
            </div>
            </form>
        </div>
        <div class="col-4">
            <div class="card-body">
                <div class="text-center">
                    <div>
                        <img [src]="imgSelect || url+'getImage/'+'default.png'" width="128px" height="128px" class= "rounded-circle bg-dark" alt="">
                    </div>
                    <div>
                    <label for="archivo">cargar</label>
                <input type="file" id="archivo" (change)="imgSelected($event)" value="seleccionar" style="width: 100% !important;">
            </div>
                </div>
                
            </div>
        </div>
    </div>
</div>